[submodule "packages/foundry/lib/forge-std"]
	path = packages/foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/foundry/lib/solidity-bytes-utils"]
	path = packages/foundry/lib/solidity-bytes-utils
	url = https://github.com/GNSPS/solidity-bytes-utils
[submodule "packages/foundry/lib/solady"]
	path = packages/foundry/lib/solady
	url = https://github.com/Vectorized/solady
[submodule "packages/foundry/lib/clones-with-immutable-args"]
	path = packages/foundry/lib/clones-with-immutable-args
	url = https://github.com/wighawag/clones-with-immutable-args
[submodule "lib/layerzero-v2"]
	path = lib/layerzero-v2
	url = https://github.com/LayerZero-Labs/layerzero-v2
[submodule "packages/foundry/lib/devtools"]
	path = packages/foundry/lib/devtools
	url = https://github.com/LayerZero-Labs/devtools
[submodule "packages/foundry/lib/LayerZero-v1"]
	path = packages/foundry/lib/LayerZero-v1
	url = https://github.com/LayerZero-Labs/LayerZero-v1
[submodule "packages/foundry/lib/v3-periphery"]
	path = packages/foundry/lib/v3-periphery
	url = https://github.com/Uniswap/v3-periphery
[submodule "packages/foundry/lib/v3-core"]
	path = packages/foundry/lib/v3-core
	url = https://github.com/Uniswap/v3-core
[submodule "packages/foundry/lib/openzeppelin-contracts"]
	path = packages/foundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/foundry/lib/layerzero-v2"]
	path = packages/foundry/lib/layerzero-v2
	url = https://github.com/LayerZero-Labs/layerzero-v2
[submodule "packages/foundry/lib/diamond-2"]
	path = packages/foundry/lib/diamond-2
	url = https://github.com/mudgen/diamond-2
[submodule "packages/foundry/lib/erc-2535-study"]
	path = packages/foundry/lib/erc-2535-study
	url = https://github.com/jacksmithinsulander/erc-2535-study
